.gg{
    overflow-x: hidden;
}
video {
    width: 90%;
    height: 10%;
    margin: 40px;
}
  
.tt {
    margin: 20px;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: .6em;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: #b29063;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
