  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="gg">

<video controls>
  <source src="../../../assets/video.mp4" type="video/mp4">
</video>

<div class="container-fluid">
  <h2 style="text-align: center;" class="tt">Leadership</h2>
  <p>To span the entire width of the screen, use the .btn-group-justified
     class:To span the entire width of the screen, use the .btn-group-justified classTo span the entire width of the screen, use the .btn-group-justified classTo span the entire width of the screen, use the .btn-group-justified classTo span the entire width of the screen, use the .btn-group-justified classTo span the entire width of the screen, use the .btn-group-justified classTo span the entire width of the screen, use the .btn-group-justified classTo span the 
    entire width of the screen, use the .btn-group-justified class</p>
  <div class="btn-group btn-group-justified">
    <a routerLink="/" class="btn btn-primary">Page Précedente</a>
    <a routerLink="/" class="btn btn-primary">Accueil</a>
    <a routerLink="/" class="btn btn-primary">Page Suivante</a>
  </div>
</div></div>