    <div>
        <img style="width: 100%; height: 90vh;" src="../../../assets/image_2.jpg">
    
        <h1 class="content1">A Propos de Nous</h1>
        <div>
            <h1 class="tt">La Plateforme</h1>
        <div class="row">
            <h2 class="h2">
                Nous sommes une plateforme d'apprentissage et de formation
           </h2>
            <p class="pp">Une plateforme pédagogique en ligne (LMS pour Learning Management System) (que l'on nomme également Espace ou plateforme de travail ou d'enseignement à distance) est un logiciel permettant de créer et de partager des documents d'enseignement et d'apprentissage à travers Internet.
              <br>Le e-learning est un type de formation en ligne et à distance qui utilise Internet et les nouvelles technologies digitales, dans le but d'améliorer les processus d'apprentissage.
            </p>
        </div>
            </div>
        <div>
            <h1 class="tt">Le Cabinet</h1>
        <div class="row">
            <h2 class="h2">Qui Sommes Nous ?</h2>
            <p class="pp">
                Depuis sa création en 2010, notre cabinet s’est spécialisé dans le conseil aux entreprises souhaitant intégrer le lean management comme approche incontournable dans leurs parcours de transformation vers l’Excellence Opérationnelle.
                
                Notre travail s’est focalisé sur la résolution des problèmes, l’amélioration continue des performances opérationnelles, l’optimisation des ressources, le développement des personnes et l’innovation des technologies pour assurer aux entreprises une croissance rentable.
                
                Nous assistons les dirigeants et managers d’entreprises sur toutes les problématiques au cœur du management.<br> En allant de la définition de la vision stratégique, à l’alignement de l’organisation jusqu’à la mise en œuvre opérationnelle des projets d’amélioration et de transformation.
                
                Nous avons développé un savoir-faire confirmé et une expertise approfondie sur plusieurs secteurs d’activité tel que : l’automobile, agroalimentaire, High Tech, distribution, textile, services…etc. Notre réseau de relations s’est enrichi grâce à notre volonté de privilégier des partenariats solides et de long terme avec les clients, les organismes et les institutions de financement.
                
                La culture d’excellence qui anime nos collaborateurs, favorise le développement et la diffusion des meilleures pratiques en management auprès de nos clients/partenaires pour les aider à atteindre les meilleurs résultats de performance pérenne.
                
                Notre culture entrepreneuriale favorise la créativité des consultants tout en privilégiant la recherche des solutions innovantes pour nos clients.
                
                <br> Nous voulons aider nos clients tout en contribuant à protéger l’environnement et impacter positivement nos communautés.
                
                Nos consultants ont assuré la réalisation de plusieurs missions d’accompagnement et projets pour le compte de clients en Tunisie, Algérie, France, Maroc, Cameroun…etc</p>           </div> 
            </div>
            <div style="margin-bottom: 40px;">
                <h1 class="tt">le fondateur</h1>
            <div class="row">
                <h2 class="h2">Khemais Haffar</h2>
                <p class="p" style="line-height: 2;">Plus de 19 ans en accompagnement des entreprises dans plusieurs secteurs d’activité tels que : l’automobile, agroalimentaire, high tech, services…etc. Des missions menées pour le compte de plusieurs clients en Tunisie et à l’international : France, Royaume Uni, Algérie, Maroc, Cameroun, Denmark…etc.</p>
                
                <div class="single-team" >
                    <div class="img-area">
                      <img style="height: 470px;" src="https://leanpartners.tn/v2/wp-content/uploads/2022/04/Khemais-Haffar-Founder.png" class="img-responsive" alt="">
                      <div class="social">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>



                  
                <div class="col-md-7 col-sm-12">
                <div class="row">
                <div class="feature-card wow fadeInUp">
                <h4 class="tt" >DOMAINE D’EXPERTISE :</h4>
                <ul class="ul">
                    <li>Stratégie de croissance</li>
                    <li>Excellence Opérationnelle</li>
                    <li>Lean management, lean manufacturing et lean six sigma</li>
                    <li>Organisation Agile</li>
                    <li>Développement de culture d’amélioration continue</li>
                    <li>Mise en place des systèmes de mangement</li>
                    <li>Optimisation des performances opérationnelles</li>
                    <li>Pilotage de projets de transformation et d’amélioration.</li>
                    <li>Coaching de dirigeants et managers d’entreprises</li>
                    <li>Conduite du changement</li>
                </ul>
                </div>
                <div class="feature-card wow fadeInUp">
                <h4 class="tt">EDUCATION & CERTIFICATION</h4>
                <ul class="ul">
                    <li>Executive MBA : ESPRIT School of Business</li>
                    <li>Maîtrise en productique : ENSIT</li>
                    <li>Certified Six Sigma Master Black Belt</li>
                    <li> IRCA ISO 9001 Lead Auditor</li>
                    <li>IRCA ISO 14001 Lead Auditor</li>
                    <li>Accredited Project Manager</li>
                    <li>Expert Label RSE</li>
                </ul>
                </div>
            </div>
    </div></div></div>


    
    <!--about-->
    <section id="about" class="bg-cover" style="background-image: url(../../../assets/image/cover_1.jpg);">
        <div class="overlay"></div>
        <div class="container text-white text-center">
            <div class="row">
                <div class="col-12 section-intro text-center" data-aos="fade-up">
                    <h1 style="    font-weight: 400;
                    font-size: 28px;
                    line-height: 1.285em;
                    font-family: Marcellus,serif;
                    color: rgb(255, 255, 255);
                    margin: 25px 0;
                    -ms-word-wrap: break-word;
                    word-wrap: break-word;
                ">Regarder la vidéo du lancement <br> de notre nouveau site web.</h1>
                    <a href="https://www.youtube.com/watch?v=g67pJICPeHc" class="video-btn"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </section>
    <div>
        <h1 class="tt">Notre Approche</h1>
    <div class="row">
        <h2 class="h2">
            Méthodologie de Travail
       </h2>
        <p class="pp">Réussir la transformation de son entreprise, c’est avant tout, choisir les projets les plus pertinents à mener pour atteindre les objectifs stratégiques. <br>

            Orienter vos choix, supporter vos initiatives d’amélioration et mobiliser les acteurs internes capables de relever les challenges pour conduire le changement.<br>
            
            Nous avons développé les meilleures pratiques du management des projets en s’inspirant des méthodes DMAIC, PMI, Kaizen Event…etc, pour assurer la performance souhaitée de nos missions et interventions. </p>
    </div>
        </div>
        <div style="margin-top: 40px; margin-bottom: -26vh;">
        <img style="width: 100%; height: 90vh ;  " src="../../../assets/image/cvv.jpg">
       <div class="content2"> <h1 class="c">Alors N'hésitez pas de Nous Rejoindre </h1>
        <button class="btn btn-brand" routerLink="/signup" >Inscription</button>
    </div>
        </div>
       </div>