<!--
    - Footer Section 
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About Us</h2>
            <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
            <a href="/">Careers</a> <a href="/">Terms of Service</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact Us</h2>
            <a href="/">Contact</a> <a href="/">Support</a>
            <a href="/">Destinations</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>Videos</h2>
            <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
            <a href="/">Agency</a>
          </div>
          <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="/">Instagram</a> <a href="/">Facebook</a>
            <a href="/">Youtube</a> <a href="/">Twitter</a>
          </div>
        </div>
      </div>
      <section class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <a href="/" id="footer__logo">COLOR</a>
          </div>
          <p class="website__rights">© COLOR 2020. All rights reserved</p>
          <div class="social__icons">
            <a href="/" class="social__icon--link" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="/" class="social__icon--link"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>
        </div>
      </section>
    </div>-->
      

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
        <div class="footer-col">
          <h4>Lean Partners</h4>
          <ul>
            <li><a href="#">Cabinet de formation en Tunisie</a></li>
            <li><a href="#">  Tél: +216 72.237.800</a></li>
            <li><a href="#">  Email: info@leanpartners.tn</a></li>
            <li><a href="#">Adresse:<br> Avenue Habib Bourguiba Immeuble City center b.04.4 <br> 8000 Nabeul</a></li>
          </ul>
        </div>
  	 		<div class="footer-col">
  	 			<h4>Lean Training</h4>
  	 			<ul>
  	 				<li><a href="#">à propos de nous</a></li>
  	 				<li><a href="#">nos services</a></li>
  	 				<li><a href="#">contacter nous</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>formations les plus demandés</h4>
  	 			<ul>
  	 				<li><a href="#">Communication B to B</a></li>
  	 				<li><a href="#">ISO 9001 version 2015</a></li>
  	 				<li><a href="#">TPM : Total Productive Maintenance</a></li>
  	 				<li><a href="#">Leadership</a></li>
             <li><a href="#">SMED</a></li>
             <li><a href="#">5S et management visuel</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>suiver nous</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/search/top?q=lean%20training"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.youtube.com/channel/UChpgfQqfjS3F7zhwz3BygDQ"><i class="fab fa-youtube"></i></a>
  	 				<a href="https://www.linkedin.com/company/lean-partners-tunisia"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

