<main class="blog-standard">
    <div class="container">
        <div style="padding: 20px 0;">
            <h1 class="h1">{{dataFormation[0].title}}</h1>
            
            <div class="center">
    <button class="button">{{dataFormation[0].category}}</button>
    <button class="button button2">2 Jours</button>
    <button class="button button3">Réf: A{{dataFormation[0].user}}</button>
        </div></div>
        <div style="margin-bottom: 40px;">
            <h1 class="tt">{{dataFormation[0].title}}</h1>
        <div class="row">
            <img src="{{dataFormation[0].img}}" style="width: 100% ;height: 250px; margin-bottom: 20px;" >
            <p class="p" style="line-height: 2;">{{dataFormation[0].details}}</p>
        </div><!--
            <div>
            <div class="col-md-8 col-sm-12">
                 <div class="row">
                 <div class="feature-card wow fadeInUp">
            <h4 class="tt" >Les objectifs de la formation « Entrepreneuriat » :</h4>
            <ul class="ul">
                <li>Évaluer la faisabilité et la viabilité de son projet de création d’entreprise.</li>
                <li>Appréhender les problématiques financières et comptables.</li>
                <li>Acquérir les bases fondamentales pour créer et démarrer une entreprise.</li>
            </ul>
            </div>
            <div class="feature-card wow fadeInUp">
            <h4 class="tt">Notre valeur ajoutée :</h4>
            <ul class="ul">
                <li>Des connaissances entrepreneuriales pour vous démarquer auprès des employeurs.
                    
                   </li>
                <li>Des compétences pour devenir porteur de projets au sein d’une entreprise.</li>
                <li> La maîtrisé d’un processus entrepreneurial applicable dans différents contextes d’entreprise.</li>
                <li>Vivre l’expérience de la création d’un business plan.</li>
                <li> Une meilleure compréhension de la réalité des entreprises.</li>
            </ul>
            </div>
        </div>
</div>
<img class="col-md-4 col-sm-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh89eR7uszNDA-uXhE3IejSuSxxLfyznRZ4Q&usqp=CAU" >
</div></div>

<hr><div style="margin-bottom: 40px;">
    <h1 class="tt">Objectifs</h1>
<div class="row">
    <ul class="ul">
        <li>Évaluer la faisabilité et la viabilité de son projet de création d’entreprise.</li>
        <li> Appréhender les problématiques financières et comptables.</li>
        <li>Définir la structure juridique la plus appropriée à son activité et en mesurer les incidences fiscales et sociales.</li>
        <li>Acquérir les bases fondamentales pour créer et démarrer une entreprise.</li> 
    </ul>
</div></div>
      <hr> <div style="margin-bottom: 40px;">
        <h1 class="tt">Public Cible</h1>
    <div class="row">
        <ul class="ul"><li> Toute personne souhaitant créer une entreprise, individuelle ou en société. </li></ul></div></div>
           <hr> <div style="margin-bottom: 40px;">
                 <h1 class="tt">Programme</h1>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2 style="text-align: center;">Journée 1</h2><hr><ul class="ul"><h2>Evaluer son projet</h2>
                    <li>Connaitre les fondamentaux de la création d’entreprise</li>
                        <li>Evaluer les risques éventuels de son projet</li>
                        <li>Mesurer ses compétences et son expérience par rapport au projet</li>
                        <li>Préserver sa présence sur internet :déposer un nom de domaine, choisir un hébergeur ,prévoir le référencement et la promotion</li>
                    <li>Analyser son idée et la transformer en projet</li>
                </ul><ul class="ul"><h2>Etudier le marché :</h2><li>définir sa stratégie ,ses objectifs et ces cibles.</li>
                <li>Connaitre son environnement ,les concurrents déjà en présence</li></ul></div>
                <div class="col-md-6 col-sm-12">
                    <h2 style="text-align: center;">Journée 2</h2><hr>
                    <ul class="ul"><h2>Préparer son activité :</h2>
                        <li>Réaliser un rétro planning</li>
                            <li>Définir une stratégie commerciale :prévoir un plan d’actions de marketing /identifier les sources d’informations</li></ul>
                            <ul class="ul"><h2>Choisir son statut:</h2>
                            <li>Entreprise en nom propre ,entrepreneur en nom propre, profession libérale EURL,EIRL,SA,SARL,SAS</li>
                            <li>Comprendre les responsabilités et les limites</li>
                        <li>Peser les avantages et les inconvénients de l’activité choisie</li>
                    </ul><ul class="ul"><h2>Responsabilité du dirigent :</h2>
                        <li>Distinguer la responsabilité civile et pénale du dirigeant</li>
                    <li>Les infractions commises personnellement</li></ul></div>
             </div></div>
                  <hr>  <div style="margin-bottom: 40px;">
                        <h1 class="tt">Résultats Attendus</h1>
                    <div class="row">
                        <ul class="ul">
                            <li>Augmenter la satisfaction des clients</li>
                            <li>Motiver le personnel</li>
                        </ul></div></div>
                                </div> -->
                                </div></div>
                                
                                <div style=" margin-bottom: -20px; background-color: #b29063; padding: 40px 40px 60px 40px ;">
                                    <h1 style="color: white; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; font-size: 40px;">Commencez à apprendre dés maintenant</h1>
                                    <h4 style="color: rgb(9, 12, 79); font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; font-weight: 500; font-size: 20px;">Choisissez votre type d'apprentissage</h4>
                                    <div class="center" ><button class="button button4" onclick="document.getElementById('id00').style.display='block'">En Présentiel</button>
                                           &nbsp; &nbsp;  <button class="button button4" onclick="document.getElementById('id01').style.display='block'">A Distance</button>
                                        </div>
                                </div>
</main>        


<div id="id00" class="modal">
    <form [formGroup]="formDevis" class="modal-content animate" #formDevisDirective="ngForm" (ngSubmit)="onSubmit(formDevis.value)" novalidate>
      <div class="imgcontainer">
        <span onclick="document.getElementById('id00').style.display='none'" class="close" title="Fermer cette Modale">&times;</span>
      </div>
  
      <div class="container1">
        <h2 class="tt" style="text-align: center;">Demendez Devis</h2> <hr><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>Nom</mat-label>
        <input class="input" formControlName="name" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>Email</mat-label>
        <input class="input" formControlName="email" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>Numéro de téléphone</mat-label>
        <input class="input" type="number" formControlName="phone" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>société</mat-label>
        <input class="input" formControlName="ste" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>fonction</mat-label>
        <input class="input" formControlName="fct" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>nombre de Participants</mat-label>
        <input class="input" type="number" formControlName="nb_part" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>sujets</mat-label>
        <input class="input" formControlName="sujet" required matInput placeholder="écrire içi" />
        </mat-form-field><!-- Password field -->
        <mat-form-field class="w-100 p-3" appearance="outline">
        <mat-label>message</mat-label>
        <input class="input" formControlName="msg" required matInput placeholder="écrire içi" />
        </mat-form-field>
        <button class="cancelbtn1">Envoyer</button>
      </div>
    </form>
  </div>
  
  <div id="id01" class="modal">
    
    <form class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Fermer cette Modale">&times;</span>
      </div>
      <div class="container1">
        <h2 class="tt" style="text-align: center;">Passez Au Paiement</h2> 
       <div class="center"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFv5ihg4ZIqi0G6CgbJaNZigdIZF_V5bFE9qLyPLjCJVZXPGkunvtY8Vkg68i8M8Loju8&usqp=CAU" style="height: 70px ;"></div><hr>
        <label for="uname"><b>Titulaire de la carte</b></label>
        <input type="text" placeholder="Entrer le titulaire de la carte" name="uname" required>
        <label for="uname"><b>numéro de carte</b></label>
        <input type="number" minlength="16"  name="uname" required>
        <label for="uname"><b>Date d'expiration</b></label>
        <input type="date"  name="uname" required>
         <label for="psw"><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer votre mot de passe" name="psw" required>
        <button routerLink="/online" class="cancelbtn1">Envoyer</button>
      </div>
    </form>
  </div>
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
