<body>
  <div class="services" id="services">
   <div></div>
  
    <div class="services__wrapper">
      <div class="services__card">
        <div class="card">
            <img  class="imgcard" src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
    
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>
      <div class="services__card">
        <div class="card">
            <img class="imgcard" src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
            
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>
      <div class="services__card">
        <div class="card">
            <img class="imgcard"src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
         
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>
      <div class="services__card">
        <div class="card">
            <img class="imgcard"src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
         
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>      <div class="services__card">
        <div class="card">
            <img class="imgcard"src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
         
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>   
         <div class="services__card">
        <div class="card">
            <img class="imgcard"src="https://th.bing.com/th/id/OIP.uqs1vn95waU2Pl-SEeME8AHaE_?w=233&h=180&c=7&r=0&o=5&pid=1.7" alt="Denim Jeans" style="width:100%">
         
            <p class="price">$19.99</p>
            <p>Some text about the jeans..</p>
          </div>
        <div class="services__btn"><button routerLink="/details">Get Started</button></div>
      </div>
    </div>
  </div>
</body>


