body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
.button{
    padding: 10px 20px; 
    color:#b29063; 
    background-color:white; 
    border: solid 1.5px #b29063 ;
}
.button:hover{
    color:white; 
    background-color:#b29063;
}

.tt {
    margin: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: .6em;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    color: #b29063;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}